<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>
      Example page header
    </h1>
    <h3>Subtext for header</h3>
    <a class="btn btn-success" href="post">添加</a>
    <hr>
    <ul class="list-group">
      {{each comments}}
      <li class="list-group-item">
        {{$value.name}}  say:  {{$value.message}} 
        <span class="date">{{$value.date}}</span>
      </li>
      {{/each}}
    </ul>
  </div>
</body>
</html>